html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="/assets/js/master.js")
        title Index Page
    body
        div
            p Login using facebook
            a(href="/login/facebook")
                button Facebook Login